

<script type="text/javascript" src="js/tendrils.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/test.css">
<div class="first"><button type="button" onclick="smoothScroll(document.getElementById('second'))">Click Me!</button></div>
<div class="second" id="second">Hi</div>